<h2>About</h2>
<div style="text-align: justify;line-height: 130%; word-spacing: 0.1em;">
  
<p>With my eyes gradually broadened by research and network, I felt the knowledge I got from elementary education was far more than enough or useful. Lots of necessary skills and ideas still needs deepening and organizing, behind which is a urgent call of high living quality. </p>

<p>Therefore, this blog was built with the aim of encouraging me to achieve a more comprehensive self-study, a better research career and a more comfortable future life. To some extent, my study pattern is going to be revised against the old one, and much old knowledge should be learnt from updated angles. Thus comes the name of my blog:). </p> 
<div>

<h2>Blog Features</h2>
<div style="text-align: justify;line-height: 130%; word-spacing: 0.1em;">
<p>Branchs of this blog mainly includes three parts of digested knowledge I get from: daily life, research life, and shared work with @22bear, my study mate.</p>

<p>Just be a life hacker, chasing and DIY things I desired in this short life time. As simple as possible, keep learning new ideas and technologies, never stop.</p>
<div>
    
<hr />

<!--add the icon and text you want -->
<ul class="fa-ul main-list">

<li class="main-list-item">
<span class="fa fa-fire fa-lg main-list-item-icon"></span>
    <a href="{{ site.url }}">2<sup>nd</sup>Learn</a>

<span class="fa fa-user fa-lg main-list-item-icon"></span>
  <a href="/abt/index.html">Huihan</a>

<span class="fa fa-tree fa-lg main-list-item-icon"></span>
    <a href="/recent/index.html">Recent</a>

</li>
</ul>
