<h2>About</h2>

<div style="text-align: justify;line-height: 130%; word-spacing: 0.1em;">

<p>With my eyes gradually broadened by research and network, I felt the education given to me in early time was far more than enough or useful. Lots of necessary skills and ideas still needs deepening and organizing, behind which is a urgent call of high living quality. </p>


<p>Therefore, this blog was built with the aim of encouraging me to achieve a more comprehensive self-study, a better research career and a more comfortable future life. This means my study pattern should be reverted against the old one, knowledge shoulde be learnt for a second time. Thus comes the name of my blog:). </p>

<p>It includes mainly three parts of digested knowledge I get from: daily life, research life, and shared work with @22bear, my study mate. </p>

<div>
<hr />

<!--add the icon and text you want -->
<ul class="fa-ul main-list">

<li class="main-list-item">
<span class="fa fa-fire fa-lg main-list-item-icon"></span>
    <a href="{{ site.url }}">2<sup>nd</sup>Learn</a>

<span class="fa fa-user fa-lg main-list-item-icon"></span>
  <a href="/abt/index.html">Huihan</a>

<span class="fa fa-tree fa-lg main-list-item-icon"></span>
    <a href="/recent/index.html">Recent</a>

</li>
</ul>
