<h2>About </h2>

<div style="text-align: justify;line-height: 130%; word-spacing: 0.1em;">

<p>With my eyes grned by research and network, I felt the education given to me in early time was far more than enough or useful. Lots of necessary skills and ideas still needs deepening and organizing, behind which is a urgent call of high living quality. </p>


<div>
<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://.net">2<sub>nd</sub>Learn</a>
  </li>
</ul>
